params_bad/*
params_gauss/*
params_gauss_bad/*
params/*
assignement-LDA/noAdmixed_1000G_id_labels.csv
assignement-LDA/recoded_1000G_MXL.mat.xz
assignement-LDA/recoded_1000G.noadmixed.mat.xz
.venv/*
PCA/MNIST/*